nav{
	width: 150px;
	float: left;
	display: inline;
	margin: 0;
	padding: 0;
	margin-right: 10px;
}

section#main{
	width: 500;
	float: left;
	margin: 0;
	padding: 0;
	display: inline;
}

.center {
}


ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}
